# Quarto
/.quarto/
/_site/
**/*.quarto_ipynb

# R
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
ENV/
.venv/
*.egg-info/
.ipynb_checkpoints/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*~
.sublime-workspace
.sublime-project

# Logs
*.log

# Temporary files
*.tmp
*.temp
